html, head {
    position: relative;
    max-width: 250px;
    width: 100%;
    min-height: 3843px;
    left: 298px;
    background: #FFFFFF;
}

/* rectangle-head */

.logo {
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: 22px;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    height: 78px;
    top: 20px;
    background: #FFFFFF;
}

.links {
    height: 28px;
    left: 46.43%;
    right: 28.6%;
    top: calc(50% - 28px/2 - 1px);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #2f281e;
}

.sign-up, .sign-in {
    height: 24px;
    top: calc(50% - 24px/2);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;

}

.sign-in {
    left: 25%;
    right: 22%;
    color: #173a56;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
}

.sign-up {
    left: 23%;
    right: 21%;
    color: #FFFFFF;
    background: #ff9900;
}

/* Header */
header {
    display: flex;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    height: 496px;
    width: 1126px;
    left: 145px;
    top: 128px;
}

.header-text {
    position: absolute;
    width: 518px;
    height: 233px;
    left: 145px;
    top: 211px;
}

h1 {
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
}

h2 {
    width: 458px;
    height: 95px;
    left: 145px;
    top: 349px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

/* buttons */
.start {
    position: absolute;
    width: 175px;
    height: 53px;
    left: 145px;
    top: 489px;
    background: #ff9900;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.video {
    position: absolute;
    width: 161px;
    height: 24px;
    left: 350px;
    top: 504px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    border: none;
    color: #ff9900;
}

.play {
    position: relative;
    width: 20px;
    height: 17px;
    top: 1.5px;
    left: 17.5px;
    /*left: 10.87%;
    right: 76.71%;
    top: 6.52%;
    bottom: 19.57%;*/
    background: #ff9900;
}

/* image */
.container {
    display: flex;
    position: relative;
    width: 605px;
    height: 496px;
    left: 666px;
    top: 128px;
}
.jumpers {
    position: absolute;
    width: 605px;
    height: 496px;
    left: 666px;
    top: 128px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Feature */
.feature {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 2211px;
    height:543px;
    left: -406px;
    top: 734px;
}

.feature-head {
    position: relative;
    height: 108px;
    width: 539px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}

.big-card {
    display: flex;
    position: absolute;
    width: 1095px;
    height: 204px;
    left: 161px;
    top: 896px;
}

.card-one {
    position: absolute;
    height: 178px;
    width: 240px;
    left: 567px;
    top: 162px;
}

.card-two {
    position: absolute;
    height: 178px;
    width: 240px;
    left: 853px;
    top: 162px;
}

.card-three {
    position: absolute;
    height: 178px;
    width: 240px;
    left: 1138px;
    top: 162px;
}

.card-four {
    position: absolute;
    height: 204px;
    width: 240px;
    left: 1422px;
    top: 162px;
}

h3 {
    
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
}

